/config/config.yaml
/file_store/
/logs/
/.idea/
/dags/spark_dag.py
/dags/spark_sql.py
/dags/spark_test.py
/airflow.cfg
/airflow.db
/airflow-webserver.pid
/webserver_config.py
__pycache__/
*.pyc
*.DS_Store
/data_profiling/data/retail_data_profiling_report.html
*.log
*.out
*.err
*.pid